<%- include('partials/header') %>

<h1>Cadastrar Cliente</h1>
<form action="/cadastrarCliente" method="post">
  <div class="form-group">
    <label>Nome</label>
    <input
      type="text"
      name="nome"
      class="form-control"
      id="name"
      placeholder="Nome Completo"
    />

    <div id="error" class="invalid-feedback">
      Name must be between 2 and 10 characters
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="email"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input
      type="number"
      name="telefone"
      class="form-control"
      id="telefone"
      placeholder="(opcional)"
    />
  </div>
  <div class="form-group">
    <label for="whats">Whats App</label>
    <input
      type="number"
      pattern="/^-?\d+\.?\d*$/"
      onKeyPress="if(this.value.length==11) return false;"
      name="whatapp"
      class="form-control"
      id="whats"
      placeholder="11 Digitos"
    />
  </div>
  <button type="submit" name="button" class="btn btn-success">Cadastrar</button>
  <button class="btn btn-danger"><a href="/">Voltar</a></button>
</form>

<%- include('partials/footer') %>
